html {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #444;
}

body {
    margin: 0;
    font-size: 1em;
}

* {
    margin: 0;
    padding: 0%;
}

.main-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 665px;
    padding: 0 20px;
    background-color: white;
}

.First-div {
    width: 30%;
    height: 520px;
    background-color: #1963ae;
    text-align: center;
    border-radius: 15px;
    border: #fac72f 3px solid;
    margin-top: 25px;
}

.icon-div {
    height: 210px;
    width: 210px;
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    margin: 45px auto 20px auto;
}

    .icon-div i {
        font-size: 245px;
        padding-top: 10px;
        color: #fac72f;
    }

.details {
    color: white;
}

    .details #name {
        font-size: 30px;
        font-family: sans-serif;
    }

    .details p {
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
    }

.address {
    width: 90%;
    color: white;
    margin: 15px auto;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}

    .address span i {
        font-size: 15px;
        padding-right: 5px;
        color: #fac72f;
    }

.contact {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

    .contact i {
        color: rgb(45, 222, 45);
    }

.Second-div {
    width: 33%;
    /* height: 650px; */
    background-color: white;
    text-align: center;
    /* box-shadow: 0px 20px 20px 20px #ddd8d8; */
}

    .Second-div .heading {
        padding: 12px;
        color: #fac72f;
        font-family: sans-serif;
        font-size: 35px;
    }

.wrapper {
    /* margin: 15px auto; */
    max-width: 100%;
}

.container-calendar {
    background: #ffffff;
    padding: 10px;
    max-width: 475px;
    margin: 0 auto;
    overflow: auto;
    /* box-shadow: 6px 11px 7px #ddd8d8; */
    box-shadow: #ddd8d8 0px 0px 30px 15px
}

td:hover {
    background-color: #fac72f;
}

.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #00a2b7;
    color: #fff;
    border: 1px solid #0aa2b5;
    border-radius: 4px;
    padding: 5px 10px;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}

    .table-calendar td,
    .table-calendar th {
        padding: 5px;
        text-align: center;
        vertical-align: top;
    }

.date-picker.selected {
    font-weight: bold;
    outline: 1px dashed #00BCD4;
}

    .date-picker.selected span {
        border-bottom: 2px solid currentColor;
    }

/* sunday */
.date-picker:nth-child(1) {
    color: red;
}

/* friday */
.date-picker:nth-child(7) {
    color: green;
}

#monthAndYear {
    text-align: center;
    margin-top: 0;
    color: #fac72f;
}

.button-container-calendar {
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    clear: both;
    width: 92%;
    margin: 0 auto 5px auto;
}

#previous {
    float: left;
    background-color: #2876c3;
}

#next {
    float: right;
    background-color: #2876c3;
}

.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
}

    .footer-container-calendar select {
        cursor: pointer;
        display: inline-block;
        zoom: 1;
        background: #ffffff;
        color: #585858;
        border: 1px solid #bfc5c5;
        border-radius: 3px;
        padding: 5px 1em;
    }

.slot-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 20px;
    height: 180px;
    overflow-y: auto;
}

.time {
    width: 100%;
    box-shadow: 0 0 30px 10px #ddd8d8;
    /* background-color: antiquewhite; */
    text-align: center;
    margin: 20px 0;
}

.time-picker {
    width: 20%;
    background-color: #dadada;
    margin: 5px 25px;
    padding: 7px 0;
    border-radius: 5px;
    cursor: pointer;
}

.session-div {
    padding: 10px;
    padding-bottom: 0;
    border-bottom: 2px solid #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
}

#session {
    color: #fac72f;
    padding: 0 20px;
}

.time-table {
    margin: 0 auto;
}

    .time-table td {
        padding: 10px 20px;
        cursor: pointer;
    }

.time-picker:hover {
    background-color: #51b651;
}

.Third-div {
    width: 28%;
    height: 525px;
    background-color: #1b6ab9;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
    border: #fac72f 3px solid;
}

    .Third-div h2 {
        color: white;
        text-align: center;
        padding: 20px 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
    }

    .Third-div input {
        margin: 3px 0;
        height: 40px;
        width: 90%;
    }

    .Third-div select {
        margin: 3px 0;
        height: 45px;
        width: 91%;
    }

    .Third-div input::placeholder {
        padding-left: 20px;
    }

    .Third-div button {
        margin: 20px 0;
        padding: 5px 30px;
        background-color: rgb(254, 200, 63);
        border: 1px solid transparent;
        border-radius: 20px;
        font-size: 18px;
        font-weight: 800;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #1963ae;
        cursor: pointer;
    }
main {
    width: 100%
}
.message-box {
    width: 400px;
    /* height: 100px; */
    background-color: #1b6ab9;
    color: white;
    position: absolute;
    top: auto;
    padding: 20px;
    border: 2px solid #fac72f;
    border-radius: 20px;
    font-size: 17px;
    text-align: center;
}

.message-button {
    margin: 20px 0 10px 0;
    background-color: #fac72f;
    padding: 10px 40px;
    color: #1b6ab9;
    font-weight: bold;
    border: #fac72f 1px solid;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .main-div {
        flex-direction: column;
        height: auto;
        padding: 0 15px;
    }

    .First-div {
        width: 100%;
        margin-top: 15px;
        height: auto;
    }

    .Second-div {
        width: 100%;
        height: auto;
    }

        .Second-div .heading {
            padding: 15px;
            font-size: 20px;
        }

    .time {
        display: block !important;
        width: 48%;
    }

    .confirm {
        display: block !important;
        margin: 0 auto;
    }

    .icon-div {
        height: 125px;
        width: 125px;
        margin: 20px auto 15px auto;
    }

        .icon-div i {
            font-size: 140px;
        }

    .details #name {
        font-size: 23px;
    }

    .details p {
        font-size: 15px;
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .address {
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        margin-bottom: 0;
    }

    .contact p {
        font-size: 14px !important;
        font-weight: 500 !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
        padding-bottom: 10px;
    }

    .time-picker {
        margin: 5px 10px;
        width: 25%;
    }

    .Third-div {
        width: 96%;
        height: 500px;
    }

        .Third-div input {
            margin: 7px 0;
        }

        .Third-div button {
            margin-top: 20px;
        }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 30px;
    }

    .slot-div {
        margin: 0 15px;
    }
    main{
        width:50%;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: normal;
        margin-bottom: 10px;
    }

    .time {
        width: 100%;
    }

    .time-picker {
        margin: 5px 20px;
        width: 20%;
    }

    .slot-div {
        margin: 0 20px;
    }
    main{
        width:100%
    }
    .message-box {
        width: 70%;
        height: auto;
    }

}
