body {
}

.container {
    max-width: 700px;
}

.formfield {
    position: relative;
    box-sizing: border-box;
    /*float: left;*/
    margin: auto;
    padding: 0px;
    border: 0px;
    font-size: 1em;
}

    .formfield * {
        box-sizing: border-box;
    }

#firstnamefield, #lastnamefield {
    width: 50%;
    min-width: 250px;
}

#addressfield {
    width: 100%;
}

#zipcodefield {
    width: 25%;
}

#cityfield {
    width: 75%;
}

.formfield > input, .formfield > label {
    padding: 0.2em;
    margin: 0.5em;
    width: 100%;
}

.formfield > input {
    border:none;
    border-bottom: 1px solid #ddd;
  
    outline: none;
}

.formfield > label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color: #ccc;
    font-weight:normal;
}

input:focus + label, input:valid + label {
    color: #105faf;
    font-size: 0.8em;
    width: auto;
    height: 1.3em;
    padding: 0px 0.1em 0px 0.5em;
    margin: 0px;
    /*outline: 1px solid red; /*for debugigng purposes only*/
    background: white;
    transition: 0.2s ease-in-out;
    top: -10px;
    left: 0em;
}

@media only screen and (max-width:600px) {
    .ChangePasswordContainer{
        width:90% !important;
    }
    }
