table {font-family: verdana,arial,sans-serif;font-size: 11px;border-width: 1px;border-collapse: collapse;}
table {font-family: verdana,arial,sans-serif;font-size: 11px;}
/*table th {border-width: 1px;border-style: solid;border-color: #999999;}
table td {border-width: 1px;border-style: solid;border-color: #999999;}*/
.foot {text-align: center;}
 

