body {
    cursor: default;
}


/*.resultContent {
    border: #d9d5d0 1px solid;
    margin: 15px 15px;
    border-radius: 3px;
    background-color: #f9f9f9;
}*/

.DatesMargin {
    margin-top: 0px !important;
}

.filterclose {
    display: none;
    margin-left: 10px;
    font-size: 20px;
    height: 30px;
    width: 30px;
    place-self: center;
    cursor: pointer;
    color: #808080;
    text-align: center;
    margin-top: 9px;
}

/*.resultContent p {
    margin: 0px !important;
    padding: 6px;
    font-size: 12px;
}*/

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    border: none;
    border-bottom: 4px solid green;
}

.nav-tabs > li > a:hover {
    border: none;
    background-color: transparent;
}

.nav-tabs > li > a {
    border: none;
    background-color: transparent;
}

/*.setStyle {
    width: 100% !important;
    padding-top: 20px;
}*/

.modalbutton {
    background-color: #337ab7;
    color: white;
    border-radius: 25px;
    margin-bottom: 1px;
    margin-left: -4px;
    font-size: 13px;
}

    .modalbutton:hover {
        color: white;
    }

.modalbuttonsecondary {
    background-color: #efefef;
    color: #555;
    border-radius: 25px;
    margin-bottom: 1px;
    margin-left: -4px;
    font-size: 13px;
}

.searchButton1 {
    display: inline-flex;
    color: #337ab7;
    height: 30px;
    border-radius: 0px;
    padding-bottom: 11px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1px;
    vertical-align: middle;
    margin-left: -4px;
    font-size: 13px;
}

    .searchButton1:hover {
        background-color: #337ab7;
        color: white;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.5s ease;
    }

#SearchText {
    display: inline-flex;
    height: 30px;
    padding-left: 5px;
    width: 85%;
    border: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0px;
    outline: none;
    font-size: 11px;
    bottom: 5px;
}

#filter:focus {
    border-bottom: 1px solid #337ab7;
}

table td {
    border-style: none;
}

table th {
    border-style: none;
    padding: 2px;
}

table tr td {
    border-collapse: collapse;
    padding: 2px;
    border-style: none;
}

td {
    padding-bottom: 30px !important;
}

table thead tr th {
    border-collapse: collapse;
    padding: 2px;
    border-style: none;
    vertical-align: middle !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px solid #ffff;
}

.searchButton {
    color: #337ab7;
    height: 28px;
    border-radius: 0px;
    padding-bottom: 10px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 8px;
    margin-top: 10px;
    font-size: 12px;
}

    .searchButton:hover {
        background-color: #246399;
        color: white;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.5s ease;
    }

.filterRemove {
    color: #337ab7;
    height: 30px;
    border-radius: 0px;
    padding-bottom: 10px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 8px;
    margin-top: 10px;
    font-size: 12px;
}

    .filterRemove:hover {
        background-color: #246399;
        color: white;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.5s ease;
    }

.top img {
    width: 22px;
}

.content {
    padding-top: 0px;
}

.RemarkMessage {
    display: none;
    background-color: #4BB543 !important;
    color: white !important;
    padding: 7px !important;
    border-radius: 3px;
}
/*
.remarklabel {
    color: #337ab7;
    font-size: 15px;
    font-weight: 600;
}*/

/*.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}*/
/*
.left {
    width: 100%;
    display: inline-block;
    transition-duration: 0.5s;
    transition-timing-function: ease, linear, ease;
    transition-delay: 0, 0, 0.7s;
}*/

.r i {
    color: #337ab7;
}

.right i {
    color: #337ab7;
}

.move {
    width: 67% !important;
}

.mov {
    margin-left: 30px !important;
}

/*.right {
    width: 33%;
    float: right;
    background-color: white;
    padding-left: 0%;
    padding-right: 17px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 700px;
}*/

#right1 {
    width: 100%;
    float: left;
    background-color: white;
    padding: 4%;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
}

/*.row {
    margin-left:0px;
    margin-right:0px;
}*/


.Status select {
    color: #3c8dbc;
    border-color: #3c8dbc;
    padding: 3px 15px;
}

    .Status select option {
        color: #3c8dbc;
        border-color: #3c8dbc;
        padding-top: 7px;
        padding-bottom: 7px;
    }

.Status label {
    font-size: 15px;
    font-weight: 600;
    color: #3c8dbc;
    padding-right: 10px;
    padding-top: 4px;
}

/*.search2 {
    padding-left: 10px;
    padding-right: 10px;
}*/

.icon img {
    padding-right: 18px;
    width: 40px;
}

    .icon img:hover {
        opacity: 0.7;
        cursor: pointer;
    }


.icon {
    margin-top: 5%;
}


.right-end {
    float: right;
    color: #3c8dbc;
}

    .right-end a {
        background-color: #edeeef;
        padding: 5px;
        padding-left: 12px;
        padding-right: 12px;
    }

        .right-end a:hover {
            opacity: 0.7;
            cursor: pointer;
        }

    .right-end span {
        padding-right: 8px;
    }


.hidden_row {
    display: none;
}




.icon img:hover {
    opacity: 0.7;
    cursor: pointer;
}


/*
.firm-title, .issue-title {
    margin-top: 4%;
    padding-bottom: 10px;
}*/



.firm-title, .issue-title h3 {
    color: #337ab7;
    font-size: 20px;
    font-weight: 500;
}

.call-id span {
    font-weight: bold;
    font-size: 15px;
    color: #4f5250;
}

.call-id {
    margin-top: 2%;
    margin-bottom: 5px;
}

/*.issue-desc {
    color: #4f5250;
    font-size: 14px;
    margin-top: 3%;
}*/

/*.issue-desc #spc {
    font-weight: 600;
    color: #337ab7;
    font-size: 15px;
}*/

/*.issue-desc p {
    padding-top: 5px;
}*/

.task-cap {
    color: #337ab7;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.col-md-6 .task-cap .dates {
    padding: 20px;
}

.Status {
    font-family: 'Montserrat', sans-serif;
}
/*
.dates {
    margin-top: 5%;
    margin-bottom: 5%;
    color: #337ab7;
    font-size: 15px;
    font-weight: 600;
    padding-right: 7px;
}*/

/*.dates p {
    margin-top: 22px;
}*/

/*.dates span {
    float: right;
    font-weight: lighter;
    color: #4f5250;
    word-spacing: 8px;
    font-size: 13px;
}
.editSection p{
    margin:1px !important;
}*/

.tabs-navWeb li {
    padding: 2px !important;
}

.tabs-navWeb a {
    padding: 7px !important;
    font-size: 10px !important;
}

.tab {
    margin-top: 3%;
}

    .tab .tab-pane {
        padding-bottom: 15px;
        border: none;
        display: inline-flex;
    }

        .tab .tab-pane button {
            border: none;
            border-radius: 50px;
            font-size: 12px;
            background-color: transparent;
            font-weight: 500;
            color: #4f5250;
            padding-left: 19px;
            padding-right: 19px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-right: 3px;
        }

            .tab .tab-pane button:focus {
                border: transparent;
            }

            .tab .tab-pane button:hover {
                background-color: #edeeef;
            }

    .tab .history {
        height: 150px;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px #ddd solid;
        border-bottom: 1px #ddd solid;
        margin-right: 7px;
    }

        .tab .history p {
            font-size: 13px;
        }

            .tab .history p span {
                font-weight: 500;
            }

/*
.SectionCollaborators {
    margin-top: 3%;
}*/

/*.SectionCollaborators span {
    font-size: 15px;
    font-weight: 600;
    color: #337ab7;
    padding: 7px;
}*/

.SectionCollaborators .fa-user-plus:hover {
    cursor: pointer;
    color: #246399;
}

#frmRemarkRight button:hover {
    background-color: #246399;
}
/*
.CollaboratorsBoxx {
    padding: 10px;
    padding-top: 0px;
}*/

/*.CollaboratorsBoxx:first-child {
    padding-top: 10px;
}*/

/*.boxx {
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 150px;
    overflow-y: scroll;
}*/
/*
.closebn:hover {
    background-color: #ddd;
    border-radius: 50%;
    color: #246399;
}
*/
/*.task-classification {
    margin-top: 5%;
}

.task-classification span {
    font-size: 15px;
    font-weight: 600;
    color: #337ab7;
    padding: 7px;
    padding-top: 10px;
}*/
/*
.boxx {
    margin-top: 5px;
}*/

.boxx .tag-container {
    padding: 5px;
    height: 100px;
    width: 100%;
}

.rowChecked {
    background-color: #b3b3ff !important;
}

.mobileDetailPane {
    width: 100%;
    padding: 15px;
    margin-right: 0px;
}

.style {
    background-color: white !important;
    box-shadow: 0px 1px 4px 0px #33333359;
}

.dashfolio-tag {
    cursor: pointer;
    padding: 10px 15px 15px 15px;
    display: inline-block;
    margin-top: 3px; /*incase tags go in next line, will space */
    color: #fff;
    padding-right: 20px; /* adds space inside the tags for the 'x' button */
}

    .dashfolio-tag:hover {
        opacity: 0.7;
    }

    .dashfolio-tag:after {
        position: absolute;
        content: "×";
        padding: 2px 2px;
        margin-left: 2px;
        font-size: 11px;
    }

#add-tag-input {
    background: transparent;
    border: 0;
    padding: 5px;
    width: 100%;
    margin-top: auto;
}

/*.line2 span {
    font-size: 12px;
}*/

/*.line1 span {
    padding-right: 15px;
}
*/
/*.line1 i {
    padding-right: 3px;
}*/

/*.line2, .line3 {
    margin-top: 8px;
    margin-left: 24px;
}*/

.upload {
    font-size: 12px;
}

.filenam {
    color: #3c8dbc;
    padding-left: 5px;
}

.line2 i {
    padding-right: 7px;
}

textarea {
    width: 100%;
    border-color: #ddd;
    color: #555;
    margin-bottom: 8px;
    margin-top: 6px;
    border-radius: 4px;
    padding: 15px;
    outline: none;
}

    textarea:focus {
        border-color: #105faf;
    }
/* Tab View*/
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px #ddd solid;
    padding-bottom: 15px;
}

    /*.tabs-navWeb {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px #ddd solid;
    padding-bottom: 10px;
}*/
    /*
.tabs-navWeb .tab-activeWeb a {
    background: #337ab7;
    color: white;
    cursor: pointer;
    font-weight: 500;
}*/

    /*.tabs-navWeb a {
    background: hsl(120, 11%, 96%);
    border-radius: 50px;
    color: #337ab7;
    display: block;
    font-size: 13px;
    font-weight: 600;
    height: auto;
    padding: 4px;
    text-align: center;
    width: 124px;
    margin-left: 4px;
}*/
    /*
.tabs-navWeb li {
    float: left;
}*/

    /*.tabs-stageWeb {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;
    border-bottom: 1px #ddd solid;
    border-top: 0;
    clear: both;
    margin-bottom: 20px;
    position: relative;
    top: 1px;
    width: auto;
}*/

    .tabs-nav .tab-active a {
        background: #337ab7;
        color: white;
        cursor: pointer;
        font-weight: 500;
    }

    .tabs-nav a {
        background: hsl(120, 11%, 96%);
        border-radius: 50px;
        color: #3c8dbc;
        display: block;
        font-size: 13px;
        font-weight: 600;
        height: auto;
        /*line-height: 44px;*/
        padding: 2px;
        text-align: center;
        width: 120px;
    }

    .tabs-nav li {
        float: left;
    }

.tabs-stage {
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px #ddd solid;
    border-top: 0;
    clear: both;
    margin-bottom: 20px;
    position: relative;
    top: 1px;
    width: auto;
}

    .tabs-stage p {
        margin: 0;
        padding: 5px;
        color: #3c8dbc;
    }




/*.search2 a {
    padding-right: 18px;
}*/

/*.search2 a:first-child {
    padding-left: 10px;
}*/

.clr:after {
    background-color: white;
}

.viewd img {
    display: none;
}

.col-md-1 {
    width: 11.11%;
}

.filter, #min, #max, #filterText, #filterDropdown, .sort, .sortOrders, #minDT, #maxDT {
    border: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0px;
    outline: none;
}

    .filter:focus, #max:focus, #min:focus, #filterText:focus, #filterDropdown:focus, #maxDT:focus, #minDT:focus {
        border-bottom: 1px solid #337ab7;
    }

.highlight {
    background-color: #568CA7;
    color: white;
}

select option {
    padding: 30px !important;
}

select {
    height: 35px;
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
    width: 165px;
}

#filterText {
    height: 30px;
    font-family: open sans,arial,sans-serif;
    font-size: 11px;
    margin-left: 4px;
    margin-top: 10px;
    height: 20px;
    margin-bottom: 5px;
}



.container {
    width: 100%;
}

h4 {
    margin: 0px;
    padding: 5px;
}

/*a {
    text-decoration: none;
}*/

#drop {
    width: 35%;
    margin: 0px auto;
    text-align: left;
    float: right;
}

.col-md-3 #main1 {
    text-align: center;
}

.content-wrapper, .right-side {
    background-color: white;
}

.panel-default {
    width: 100%;
    height: auto;
    border: none;
}

.panel-body {
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
    padding: 0px;
    height: auto;
    border: none;
}

input[type=date] {
    padding: 0px;
}

#filter {
    height: 20px;
    padding: 0px;
    width: 18%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.panel {
    margin-bottom: 0px;
    border: none;
}

#min {
    margin-top: 10px;
    height: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
}

#max {
    margin-top: 10px;
    height: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.ee, .ww {
    margin-top: 15px;
}

.bb {
    padding: 0px;
    height: auto;
    margin: 0px auto;
    text-align: center;
}

.icon-bar {
    width: 100%;
    overflow: auto;
}

    .icon-bar a {
        float: left;
        text-align: center;
        padding: 12px 0px;
        transition: all 0.3s ease;
        font-size: 20px;
    }

        .icon-bar a:hover {
            background-color: #EAEDEF;
        }

.col-md-12.horizontal {
    /*overflow:auto;*/
    /*height:620px;*/
    padding-right: 5px;
    margin-right: 10px;
}
/*loader*/
.loader, .loader:after {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
/*#loading {
    
    margin-top:15%;
    margin-left: 45%;
    position: absolute !important;
}*/
/*.loader {*/
/*margin: 60px auto;*/
/*margin:0 auto;*/
/*font-size: 10px;*/
/*position: relative;*/
/*text-indent: -9999em;
    border-top: 3px solid rgba(0,0,0, 0.2);
    border-right: 3px solid rgba(0,0,0, 0.2);
    border-bottom: 3px solid rgba(0,0,0, 0.2);
    border-left: 3px solid #1DA3E6;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}*/

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*loader done*/

/*.SubTasksMoreDetails         {position:absolute; padding-top:5px; z-index:2; display:none; background-color:lightblue; width:200px; height:40px; padding-left:20px; margin-left:880px;}
    */
/* Tabs */



/* Just for CodePen styling - don't include if you copy paste */

/*.TaskBar {
    padding: 20px;
    padding-left: 15px;
    font-size: 11px;
    letter-spacing: .1em;
    text-transform: capitalize;
    display: flex;
    padding-right: 28px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    color: #337ab7;
    background-color: #f3f8fa;
    width: 100%;
    border-bottom: 3px solid white;
    margin-bottom: 3px;
    font-family: open sans,sans-serif;
}*/

.icon-row img {
    padding-right: 18px;
}

    .icon-row img:hover {
        opacity: 0.7;
        cursor: pointer;
    }

.icon-row {
    padding-left: 3%;
}




.ShowRemarksValues:first-child {
    margin-top: 30px;
}

.ShowRemarksValues:last-child {
    margin-bottom: 20px;
}

.AddRemarkDetailView {
}

#RightShift:hover {
    color: #246399;
}

.clickable {
    /*transition: box-shadow 0.5s;
    transition: margin 0.5s;*/
}

    .clickable:hover {
        /*box-shadow: 1px 2px 6px 1px #333359;*/
        z-index: 2;
        /*margin-top: 1px;*/
    }

.Tasktitle, .Taskdescription {
    overflow: hidden;
    /*text-overflow: ellipsis;*/
}





@media only screen and (max-width:600px) {

    .myTaskBtn{
        margin-left:20px !important;
    }

    .resultDiv {
        margin-top: 70px;
    }

    td:nth-last-child(2) {
        display: grid !important;
    }

   /* td:nth-last-child(1) {
        text-align: right;
    }*/

    .tab-pane {
        margin-left: -15px !important;
    }

    .loader {
        margin: 60px auto;
    }

    .icons {
        margin-bottom: 25px;
    }

    .context-menu-list {
        width: 180px !important;
        left: 2% !important;
        top: 35% !important;
        margin: 0 !important;
    }

    .context-menu-item.context-menu-visible > .context-menu-list {
        left: 100% !important;
        top: 0% !important;
        padding-left: 2px;
    }

    .context-menu-item.labels {
        padding: 0;
        text-align: left;
    }

    .vr {
        padding-left: 0;
        padding-right: 0;
        width: 110% !important;
    }

    .vr1 {
        margin-left: 0;
        padding: 0 !important;
        width: 12% !important;
    }

    .vr2 {
        padding: 0 !important;
        width: 40% !important;
    }

    .vr4 {
        padding-left: 5px !important;
        padding-right: 0 !important;
        width: 35% !important;
    }

    .vr5 {
        width: 18% !important;
        padding-left: 0 !important;
    }

    .vrbody {
        padding: 0 !important;
    }

    .vr-hno {
        width: 12% !important;
    }

    .vr-hremark {
        width: 29% !important;
    }

    .vr-hcomm {
        width: 18% !important;
    }

    .vr-hdate {
        width: 24% !important;
    }

    .vr-hcreate {
        padding-right: 0 !important;
    }

    #TxtCallId {
        width: 70% !important;
    }

    #NextActionDateContext {
        margin: 0 3px 0 0;
    }

    .ShowRemarksValues {
        width: 350px !important;
    }

    .tabs-nav a {
        width: auto;
        padding: 7px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 4px;
        display: flex;
    }

    .tabs-navWeb a {
        width: auto;
        padding: 7px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 4px;
        display: flex;
    }

    .ShowRemarksValues:last-child {
        margin-bottom: 20px;
    }

    .ShowRemarksValues div {
        padding-left: 15px;
    }

    .RemarkHistoryItem i {
        color: #0F5FAF;
    }

    .CallLogHistoryItem i {
        color: #0F5FAF;
    }

    .EditHistoryItem i {
        color: #0F5FAF;
    }

    .remarkview {
        width: 350px !important;
        display: flex;
    }

    .filename {
        margin-left: 25px;
    }

    .modal-content {
        width: 100% !important;
    }

    .modal-dialog {
        width: 100% !important;
        margin-left: 1px;
        margin-right: 1px;
        height: 300px;
    }

    .right {
        display: none;
    }

    .container {
        width: 100%;
    }

    input[type=date] {
        width: 100%;
        padding: 0px;
    }

    #max, #maxDt {
        margin-top: 0px;
        height: 20px;
        margin-bottom: 0px;
    }

    #min, #minDt {
        margin-top: 0px;
        height: 20px;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    .ee, .ww {
        margin-top: 0px;
        padding: 0px;
    }

    .FromDiv, .ToDiv {
        width: 20%;
    }

    #filterText {
        font-family: open sans,sans-serif;
        font-size: 11px;
        /*margin-top: 5px;*/
        height: 20px;
        padding: 0px;
        margin-left: 5px;
    }

    input[type=text] {
        width: 100%;
    }

    .filterclose {
        margin-left: 0px !important;
    }

    .search2 {
        padding-top: 5px !important;
    }


    .col-md-12.horizontal {
        height: 380px;
    }

    .SubTasksMoreDetails {
        margin-left: 520px;
        display: none;
    }

    .TaskBar {
        font-size: 11px;
        letter-spacing: .1em;
        text-transform: uppercase;
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 0px;
        width: 100%;
        color: #337ab7;
        background-color: #f3f8fa;
        margin-left: 0px;
        border-bottom: 3px solid white;
        margin-bottom: 3px;
        font-family: open sans,sans-serif;
    }

    .container {
        padding: 0;
        margin-bottom: 0;
    }

    .search2 {
        padding-left: 0px !important;
        margin-bottom: 0px;
    }

    body {
        /*overflow-y: scroll;*/
    }

    .Sno {
        text-align: left;
        display: none;
    }

    /*.SNo {
    display: none;
}*/

    .search1 {
        margin-top: 10px;
        margin-right: 0px !important;
        padding-right: 10px;
    }

    .search2 a {
        padding-right: 15px;
        padding-bottom: 15px;
    }

    .search2 {
        padding-bottom: 15px;
    }

    h4 {
        margin-left: 10px;
    }

    .DueDate {
        margin-left: 25px !important;
        padding-right: 0px;
        padding-left: 20px;
    }

    .Duedate {
        margin-right: 0px !important;
        margin-left: 28px !important;
        min-width: 10%;
    }

    .Startdate {
    }

    /*.TaskTitle {
    margin-left: 20px !important;
}*/
    /*
.Tasktitle {
    float: right;
    margin-left: 20px;
    margin-right: 0px;
    min-width: 10%;
}*/

    .Startdate {
        display: none;
    }

    .StartDate {
        display: none;
    }

    .location {
        display: none;
    }

    .Location {
        display: none;
    }

    .source {
        display: none !important;
    }

    .Source {
        display: none;
    }

    .Taskid {
        margin-left: 0px;
        text-align: center;
    }

    .TaskId {
        margin-left: 40px !important;
    }

    .TaskDescription {
        display: none;
    }

    .Taskdescription {
        display: none;
    }

    .SubTaskSno {
        display: none;
    }

    .SubTaskid {
        margin-left: 30px !important;
        width: 5% !important;
    }

    .SubTaskdescription {
        display: none;
    }

    .SubTaskStartdate {
        display: none;
    }

    .SubTaskstatus {
        display: none;
    }

    .SubTasktitle {
        margin-left: 30px !important;
    }

    .SubTaskDuedate {
        margin-left: 30px !important;
    }

    .TaskAssignedto {
        display: none;
    }

    .Taskstatus {
        display: none;
    }

    .TaskStatus {
        display: none;
    }

    .AssignedTo {
        display: none;
    }

    .TaskAssignedto {
        display: none;
    }

    .CreatedBy {
    }

    .viewd img {
        /*display: inline-flex;

        margin-left: 5px;*/
    }

    .CreatedBy {
        margin-left: 25px;
        padding-left: 25px;
    }

    .Taskcreateby {
        /*margin-left: -18px !important;
        margin-right: 20px !important;*/
        min-width: 10%;
    }

    .Addremarks {
        width: 500px;
        margin-left: 100px;
    }


    .Addcollaborators {
        text-align: center;
    }

    /*#dropdown {
        float: left;
        margin-top: 20px;
        width: 100%;
    }*/
}



.sub:hover {
    color: #337ab7 !important;
    background-color: white !important;
}



.MoreDetails {
    position: absolute;
    display: none;
    width: 492px;
    height: 90%;
    /*min-height: 53px;*/
    padding-left: 10px;
    padding-top: 6px;
    right: -7%;
}

    .MoreDetails img {
        width: 28px;
    }

.popover.right {
    display: none !important;
}

.n {
    width: 5% !important;
}

.c {
    width: 7% !important;
}

.d {
    width: 15% !important;
    padding: 0 5px;
}

.f {
    width: 20% !important;
}

.m {
    width: 12% !important;
}

.i {
    width: 25% !important;
}

.s {
    width: 12% !important;
}

.nt {
    width: 6% !important;
    padding: 0 !important;
    text-align: center !important;
}

.ct {
    width: 7% !important;
    padding: 0 !important;
    text-align: left !important;
}

.dt {
    width: 12% !important;
}

.ft {
    width: 20% !important;
}

.mt {
    width: 13% !important;
    text-align: center !important;
}

.it {
    width: 25% !important;
    text-align: left !important;
}

.st {
    width: 14% !important;
    text-align: center !important;
}


@media only screen and (max-width:1201px) {
    /* .TaskAssignedto {
        display: none;
    }

    .AssignedTo {
        display: none;
    }*/

    .SubTaskdescription {
        display: none;
    }
}

@media only screen and (max-width:1000px) {

    .Taskid {
        margin-left: 0px;
        text-align: left;
    }

    .TaskId {
        margin-left: 0px;
    }

    .Taskdescription {
        display: none;
    }

    .TaskDescription {
        display: none;
    }

    .TaskStatus {
        margin-left: 0px;
    }

    .viewd img {
        /*display: inline-flex;
        margin-left: 5px*/
    }

    .CreatedBy {
    }

    .Taskcreateby {
        float: right;
        margin-right: 10px;
        margin-left: 35px;
        padding-left: 30%;
    }
}






/* ManageRegCalls CSS*/

table td {
    border-bottom: 1px solid grey;
    border-style: none;
}

table th {
    border-style: none;
    padding: 2px;
}

table tr td {
    border-bottom: 1px solid grey;
    border-top: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
}

table thead tr th {
    border-bottom: 1px solid grey;
    border-top: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
}

tr:hover:not(.highlight) td {
    background-color: lightblue;
}

.highlight {
    background-color: #568CA7;
    color: white;
}

select {
    height: 30px;
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
}

#filterText {
    height: 30px;
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
    margin-left: 4px;
    margin-top: 10px;
    height: 20px;
    margin-bottom: 5px;
}

/*#dropdown {
    width: 50%;
}*/

.content {
    padding: 0px;
}

.searchButton {
    color: #337ab7;
    height: 28px;
    border-radius: 0px;
    padding-bottom: 10px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 8px;
    margin-top: 10px;
    font-size: 12px;
}

    .searchButton:hover {
        background-color: #246399;
        color: white;
        border-radius: 50% !important;
        cursor: pointer;
        transition: background-color 0.5s ease;
    }


/*.container {width: 60%;}*/

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    border: none;
    border-bottom: 4px solid green;
}

.nav-tabs > li > a:hover {
    border: none;
    background-color: transparent;
}

.nav-tabs > li > a {
    border: none;
    background-color: transparent;
}

.filter, #min, #max, #filterText, #filterDropdown, .sort, .sortOrders, #minDT, #maxDT {
    border: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0px;
    outline: none;
}

    .filter:focus, #max:focus, #min:focus, #filterText:focus, #filterDropdown:focus, #maxDT:focus, #minDT:focus {
        border-bottom: 1px solid #337ab7;
    }

table td {
    border-style: none;
}

table th {
    border-style: none;
    padding: 2px;
}

table tr td {
    border-collapse: collapse;
    padding: 2px;
    border-style: none;
}

td {
    padding-bottom: 30px !important;
}

table thead tr th {
    border-collapse: collapse;
    padding: 2px;
    border-style: none;
    vertical-align: middle !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px solid #ffff;
}


h4 {
    margin: 0px;
    padding: 0px;
}

/*a {
    text-decoration: none;
}
*/
.modalbutton {
    background-color: #337ab7;
    color: white;
    border-radius: 25px;
    margin-bottom: 1px;
    margin-left: -4px;
    font-size: 13px;
}

    .modalbutton:hover {
        color: white;
    }

.modalbuttonsecondary {
    background-color: #efefef;
    color: #555;
    border-radius: 25px;
    margin-bottom: 1px;
    margin-left: -4px;
    font-size: 13px;
}

#drop {
    width: 35%;
    margin: 0px auto;
    text-align: left;
    float: right;
}

.col-md-3 #main1 {
    text-align: center;
}

.content-wrapper, .right-side {
    background-color: white;
}

.panel-default {
    width: 100%;
    height: auto;
}

.panel-body {
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
    padding: 0px;
    height: auto;
}

input[type=date] {
    padding: 0px;
}

input[type=datetime-local] {
    /*max-width: 22%;*/
    max-width: 75%;
    padding: 0px;
}

#filterTable tr td input[type=datetime-local] {
    max-width: 34%;
    padding: 0px;
}

#filterTable tr td input[type=date] {
    max-width: 40%;
    padding: 0px;
}

#filter {
    height: 20px;
    padding: 0px;
    width: 18%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.panel {
    margin-bottom: 0px;
}

#min {
    margin-top: 10px;
    height: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
}

#max {
    margin-top: 10px;
    height: 20px;
    margin-bottom: 5px;
}

#minDT {
    margin-top: 10px;
    height: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
}

#maxDT {
    margin-top: 10px;
    height: 20px;
    margin-bottom: 5px;
}

.ee, .ww {
    margin-top: 15px;
}

/*.search {
    padding: 0px;
}*/

.bb {
    padding: 0px;
    height: auto;
    margin: 0px auto;
    text-align: center;
}

hr {
    margin: 0px auto;
    padding: 0px;
    width: 97%;
    color: grey;
}

.icon-bar {
    width: 100%;
    overflow: auto;
}

    .icon-bar a {
        float: left;
        width: 12%;
        text-align: center;
        padding: 12px 0px;
        transition: all 0.3s ease;
        font-size: 20px;
    }

        .icon-bar a:hover {
            background-color: #EAEDEF;
        }


@media screen and (max-width:800px) {
    .container {
        width: 100%;
    }

    #filter {
        height: 20px;
        padding: 0px;
        width: 75%;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    input[type=date] {
        width: 100%;
        padding: 0px;
    }

    #max, #maxDT {
        margin-top: 0px;
        height: 20px;
        margin-bottom: 0px;
    }

    #min, #minDt {
        margin-top: 0px;
        height: 20px;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    .ee, .ww {
        margin-top: 0px;
        padding: 0px;
    }

    .col-md-1 {
        padding: 0px;
    }

    #filterText {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        margin-top: 5px;
        height: 20px;
        padding: 0px;
        margin: 5px 0px 5px 0px;
    }

    input[type=text] {
        width: 100%;
    }

    .col-md-3 {
        padding: 0px;
    }
}


#example1 {
    border-collapse: collapse;
}

    #example1 thead.TableHead {
        display: block;
        overflow: auto;
    }

    #example1 tbody.TableBody {
        display: block;
        overflow: auto;
        height: 150px;
        word-wrap: break-word;
        word-break: break-all;
    }

#example1 {
    border: none;
}

    #example1 tr {
        border-right: 1px solid #ddd;
    }

.main-footer {
    border-top: 0px;
}

.tablewrap {
    height: 460px;
    overflow-y: scroll;
}

table table {
    width: 500px;
    border-collapse: collapse;
}

thead {
    display: block;
    overflow: auto;
}

table:not(#basicFilterTable) tbody {
    display: block;
    height: 400px;
    overflow: auto;
}

.table > tbody > tr > td {
    border-bottom: 1px solid grey;
}

@media screen and (max-width:520px) {
    .tabs-navWeb li {
        padding: 2px 0 !important;
    }

    #dropdown{
        margin-top:11px;
    }

    .callregdate {
        display: none !important;
    }

    .firm {
        display: none !important;
    }

    .assignedto {
        display: none !important;
    }

    .lastcalldate {
        display: none !important;
    }

    .nextactiondate {
        display: none !important;
    }

    .callkey {
        width: 8% !important;
    }

    .callid {
        width: 12% !important;
    }

    .mobno {
        width: 25% !important;
    }

    .callstatus {
        width: 13% !important;
    }

    .Date {
        display: none !important;
    }

    .Firm {
        display: none !important;
    }

    .AssignedTo {
        display: none !important;
    }

    .LastCallTime {
        display: none !important;
    }

    .NextActionDate {
        display: none !important;
    }

    .SNo {
        width: 8% !important;
        padding: 0 2px !important;
        text-align: left !important;
    }

    .CallId {
        width: 15% !important;
        padding: 0 3px !important;
    }

    .Mobile {
        width: 24% !important;
        text-align: left !important;
    }

    .Issue {
        width: 37% !important;
    }

    .Status {
        width: 13% !important;
    }

    .MoreDetails {
        display: none !important;
    }
    .basicfilterDiv {
        width: 98% !important;
        left: 5px;
        top: 40px !important;
        padding: 5px !important;
    }
        /* td:nth-last-child(1) {
        text-align: right;
    }*/
        .basicfilterDiv tr td:nth-child(2) {
            width: 20%;
        }

        .basicfilterDiv input[type=date] {
            width: auto !important;
        }

        .basicfilterDiv input[type=datetime-local] {
            width: 35% !important;
        }

        .basicfilterDiv .min, .minDT {
            margin-left: 2px !important;
        }

    .basicfilterDiv .max, .maxDT {
            margin-left: 2px !important;
    }
    #basicFilterTable tr td {
        max-width: none !important;
    }
}
