.drap {
    padding-top: 10px;
}

.Column {
    overflow: hidden;
    overflow-y: auto;
    height: 90vh;
    padding-right: 5px;
}

.panel {
    margin-bottom: 5px;
    transition: background .3s ease;
}

    .panel:hover {
        background: #ecf0f1;
        cursor: pointer;
    }

.title {
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 5px;
}

spane {
    font-size: 12px;
}

.panel-body {
    padding: 10px !important;
}

p {
    line-height: 1.1;
    
}

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}



@media (max-width:767px) {
    .container-fluid {
        padding: 0;
    }

    .wrapper {
        padding-top: 0;
    }

    p {
        /*font-size: 10px !important;*/
    }
}

@media screen and (min-width:929px) {
    .col-md-12 {
        margin-bottom: 10px;
    }
}
