table td {border-style: none;overflow-x: auto;}
table th {border-style: none;padding: 2px;}
table tr td {border-collapse: collapse; padding: 2px; border-style:none}

.table > thead > tr > th, .table > tbody > tr > th {
    border-collapse: collapse;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-style: none;
}
    .table > thead > tr > th:first-child{
        padding-left:15px;
    }
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
   border:none; 
}

/*tr:hover:not(.highlight) td { background-color:lightblue;}*/
.highlight {
    background-color: #a0b3c5;
    color: white;
}
.clickable {
    transition: box-shadow 0.5s;
}

    .clickable:hover {
        box-shadow: 0 0 6px 1px #33333359;
    }


.content {padding: 0px;}
.container {width: 60%;}
h4 {margin: 0px;padding: 0px;}
a {text-decoration: none;}
#drop {width: 35%;margin: 0px auto;text-align: left;float: right;}
.col-md-3 #main1 {text-align: center;}
.content-wrapper, .right-side {background-color: white;}

input[type=date] {width: 20%;padding: 0px;}
#filter {height: 20px;padding: 0px;width: 18%;margin-top: 10px;margin-bottom: 5px;}
.panel {margin-bottom: 0px;}
#min {margin-top: 10px;height: 20px;margin-left: 10px;margin-bottom: 5px;}
#max {margin-top: 10px;height: 20px;margin-bottom: 5px;}
.ee, .ww {margin-top: 15px;}
.search {padding: 0px;}
.bb {padding: 0px;height: auto;margin: 0px auto;text-align: center;}
hr {margin: 0px auto;padding: 0px;width: 97%;color: grey;}
.icon-bar {
   
   
}
.icon-bar a {text-align: center;padding: 12px 0px;transition: all 0.3s ease;font-size: 20px;}
.icon-bar a:hover {background-color:#EAEDEF;}
.col-md-12.horizontal{overflow-x:auto}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

thead {
    display: block;
    overflow: auto;
    
}

tbody {
    display: block;
    height: 570px;
    color: #3c8dbc;
    overflow: auto;
}
.col-md-offset-6{
    margin-left:0% !important;
}
/*loader*/
.loader, .loader:after {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
#loading {
    margin-top: 15%;
    margin-left: 45%;
    position: absolute;
}
.loader {
    /*margin: 60px auto;*/
    font-size: 10px;
    top: 30%;
    left: 50%;
    position: absolute;
    text-indent: -9999em;
    border-top: 3px solid rgba(0,0,0, 0.2);
    border-right: 3px solid rgba(0,0,0, 0.2);
    border-bottom: 3px solid rgba(0,0,0, 0.2);
    border-left: 3px solid #1DA3E6;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

    @-webkit-keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    /*loader done*/
@media screen and (max-width:800px) {    
.container {width: 100%;}
#filter {height: 20px; padding: 0px; width: 75%; margin-top: 10px; margin-bottom: 5px;}
input[type=date] {width: 100%;padding: 0px;}
#max {margin-top: 0px;height: 20px;margin-bottom: 0px;}
#min {margin-top: 0px;height: 20px;margin-left: 0px;margin-bottom: 0px;}
.ee, .ww {margin-top: 0px;padding:0px}  
.col-md-1{padding:0px}
#filterText {font-family: verdana,arial,sans-serif;font-size: 11px;margin-top: 5px;height: 20px;padding:0px;margin:5px 0px 5px 0px}
input[type=text] {width: 100%;}
.col-md-3{padding:0px}   
.search{width:40%}  

}
.searchButton1 {
    display: inline-flex;
    color: #337ab7;
    height: 30px;
    border-radius: 0px;
    padding-bottom: 11px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    /*  border-left-color: transparent;
    border-left: none;
    border-radius: 0px 2px 2px 0px;
    border: 1px solid #ddd;*/
    margin-bottom: 1px;
    vertical-align: middle;
    margin-left: -4px;
    font-size: 13px;
}

    .searchButton1:hover {
        background-color: #337ab7;
        color: white;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.5s ease;
    }

#SearchText {
    display: inline-flex;
    height: 30px;
    padding-left: 5px;
    width: 85%;
    /*border: 1px solid #ddd;
    border-right: none;
    border-radius: 2px 0px 0px 2px;*/
    border: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0px;
    outline: none;
    font-size: 11px;
    bottom: 5px;
}

    #SearchText:focus {
        border-bottom: 1px solid #337ab7;
    }