.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border: none;
    border-style: none;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding-top:15px;
    padding-bottom:15px;
}
    table td {
    border:none; border-style: none;
}
table th {
    border: none;
    border-style: none;
    padding: 2px;
}
table tr td {
    border: none;
    border-collapse: collapse;
    padding: 2px;
    border-style: none;
}
table thead tr th {
    border: none;
    border-collapse: collapse;
    padding: 2px;
    border-style: none;
    background-color: #f3f8fa;
}
table tbody tr th{
        background-color:white;
}
.table thead > tr > th{
    vertical-align:middle !important;
}
/*.clickable:hover {
    background-color: white !important;
    -webkit-box-shadow: 0 0 6px 1px #33333359;
    -moz-box-shadow: 0 0 6px 1px #33333359;
    box-shadow: 0 0 6px 1px #33333359;
    z-index: 100;
}*/

.DatesMargin {
    margin-top: 0px !important;
}
.clickable {
    transition: box-shadow 0.5s;
}

    .clickable:hover {
        box-shadow: 0 0 6px 1px #33333359;
    }
.searchButton {
    display: inline-flex;
    color: #337ab7;
    height: 26px;
    border-radius: 0px;
    padding-bottom: 8px;
    padding-top: 6px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 4px;
    margin-top: 7px;
    border-radius: 50%;
    margin-bottom: 2px;
    vertical-align: middle;
    font-size: 13px;
}

        .searchButton:hover {
            background-color: #337ab7;
            color: white;
            border-radius: 50%;
            transition-duration: 0.3s;
        }
.search2 a{
    /*margin-right:10px;*/
    padding-right: 18px;
}
tr:hover:not(.highlight) td {
    background-color: white;
   cursor:pointer;
    
}
.highlight {background-color: #568CA7;color: white;}
select {height: 30px;font-family: verdana,arial,sans-serif;font-size: 11px;}
#filterText {height:30px;font-family: verdana,arial,sans-serif;font-size: 11px;margin-left: 4px;margin-top: 10px;height: 20px;margin-bottom: 5px;}
#dropdown {width: 50%;}
.search1 {width: 40%;}
.content {padding: 0px;}
.container {width: 60%;}
h4 {margin: 0px;padding: 0px;}
a {text-decoration: none;}
#drop {width: 35%;margin: 0px auto;text-align: left;float: right;}
.col-md-3 #main1 {text-align: center;}
.content-wrapper, .right-side {background-color: white;}
.panel-default {width: 100%;height: auto;}
.panel-body {font-family: verdana,arial,sans-serif;font-size: 11px;padding: 0px;height: auto;}
input[type=date] {width: auto;padding: 0px;}
#filter {height: 20px;padding: 0px;width: 18%;margin-top: 10px;margin-bottom: 5px;}
.panel {margin-bottom: 0px;}
#min {margin-top: 10px;height: 20px;margin-left: 10px;margin-bottom: 5px;}
#max {margin-top: 10px;height: 20px;margin-bottom: 5px;}
.ee, .ww {margin-top: 15px;}
.search {padding: 0px;}
.bb {padding: 0px;height: auto;margin: 0px auto;text-align: center;}
/*hr {margin: 0px auto;padding: 0px;width: 97%;color: grey;}
*/.icon-bar {width: 100%;   overflow: auto; padding-left:15px; padding-right:15px;}
.icon-bar a {float: left; width: auto;text-align: center; padding-left:0px !important; padding: 12px;transition: all 0.3s ease;font-size: 20px;}
.icon-bar a:hover {background-color:#EAEDEF;}

.col-md-12.horizontal{
   
 

}
 /*loader*/
    .loader, .loader:after {
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    .loader {
        /*margin: 60px auto;*/
        top:50%;
        left:50%;
        font-size: 10px;
        position: absolute;
        text-indent: -9999em;
        border-top: 3px solid rgba(0,0,0, 0.2);
        border-right: 3px solid rgba(0,0,0, 0.2);
        border-bottom: 3px solid rgba(0,0,0, 0.2);
        border-left: 3px solid #1DA3E6;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: load8 1.1s infinite linear;
        animation: load8 1.1s infinite linear;
    }

    @-webkit-keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    /*loader done*/
    
@media screen and (max-width:600px) {
    #search2{
        margin-left:10px;
    }
    .loader{
        top:30% !important;
    }
    #dropdown{
        width:100%;
    }
    #dateC{
        margin-top:10px;
    }
.search1{
    top:100px;
}
.search2{
    padding-left:10px;
}
.ee, .ww{
    position:absolute;
    top:140px !important;
}
#filter {
    height: 20px; 
    padding: 0px;
    width: 75%; 
    margin-top: 10px; 
    margin-bottom: 5px;

}
input[type=date] {
    width: 100%;
    padding: 0px;

}
    #max {
        margin-top: 0px;
        height: 20px;
        margin-bottom: 0px;
        width: 30%;
        margin-left: 10px;
    }
    #min {
        margin-top: 0px;
        height: 20px;
        margin-left: 10px;
        margin-bottom: 0px;
        width: 30%;
    }
.ee, .ww {
    margin-top: 0px;
    padding:0px

}  
.col-md-1{
    padding:0px

}
#filterText {
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
    margin-top: 5px;
    height: 20px;
    padding:0px;
    margin:5px 0px 5px 0px;

}
input[type=text] {
    width: 100%;

}
.col-md-3{
    padding:0px;

}   
.search{
    width:40%

} 
.search1{
    width:50%

}
    
    
    .col-md-12.horizontal {
        height: 520px;
        overflow-y: scroll;
    }
    .col-md-12.horizontal {
        margin-right: 7px;
        padding-left: 7px;
    }
    .icon-div {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .Remark {
        width: 100px !important;
        
    }
    .RemarkValue {
        width: 80px !important;
        padding-right: 0px !important;
        padding-left: 10px !important;
    }
    .Date {
        width: 120px !important;
        padding-left: 13px !important;
    }
    .DateValue {
        /* padding-right: 20px !important;*/
        padding-left: 45px !important;
    }
    .TaskTitleValue {
        padding-left: 18px !important;
    }
    .TripName {
        padding-left: 23px !important;
    }
    .RemarkBy{
        padding-left: 15px !important;
        
    }
    .TaskDescription {
        width: 110px !important;
        padding-right: 0px !important;
    }
    .TaskDescriptionValue {
        /*width: 250px !important;*/
        padding-left: 0px !important;
    }
    .TripId {
        width: 130px !important;
        
    }
    .selectValue{
        padding-right:40px !important;
    }
    .FileValue {
        width: 70px !important;
        text-align: center !important;
    }
    .File {
        width: 250px !important;
        text-align:center !important;
    }
}
