@{
    Layout = "~/Views/Shared/Navbar.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width">
    <title>Partners With Us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Custom/PartnerwithUs.css">
</head>
<body>

  <div class="partner-container">

        <div style="color: white;text-align: center; padding: 100px 0;">
            <h1> Coming Soon !</h1>
            <p style="font-size:16px;">Great things take time</p>
            <a href="@Url.Action("GainbooksWebsite", "PublicUrl")"><button type="button" class="homebtn"> Go to homepage </button></a>
        </div>
        <p class="copyright">Copyright 2023 | All Rights are Reserved. Technopinch Solutions Pvt.Ltd</p>

  </div>

</body>