@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="~/Content/Custom/Home.css" />
<script src="~/scripts/Custom/Home.js"></script>

<div class="row">
    <div class="cards">
    </div>
</div>



