@{
    ViewData["Title"] = "ManageAllRegCallsKanban";
}
<link rel="stylesheet" href="~/Content/Custom/ManageAllRegCallsKanban.css" />
<script src="~/Scripts/Custom/ManageAllRegCallsKanban.js"></script>
<div Class="container">
    <div id="loader" class="center" style="left:15%;"></div>
    <div class="drap row">

    </div>
</div>


