@{
     Layout = "~/Views/Shared/_Nav.cshtml";
    ViewData["Title"] = "AboutUs";
}
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GVPR11ZTNT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GVPR11ZTNT');
</script>

<script>
    $(document).ready(function () {
        $("#navAbout").addClass("navActive");
        $("#navAbout").css("padding-top", "5px");
        $("#navAbout").css("padding-bottom", "5px");
        $("#navAbout").css("margin-top", "10px");
    })
</script>

<style>
    ul.Tag li a:focus {
    }

    .input-group-addon {
        background-color: #fff;
    }

    h1, h2, h3, h4, p, a, button, select, option {
        font-family: 'Montserrat', sans-serif;
    }

    body, html {
        height: 100%;
        margin: 0;
    }

    .bg {
        background-image: url("~/images/bg.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .body {
        -webkit-box-shadow: 0px 0px 34px -13px rgba(51,51,51,1);
        -moz-box-shadow: 0px 0px 34px -13px rgba(51,51,51,1);
        box-shadow: 0px 0px 34px -13px rgba(51,51,51,1);
        border-radius: 15px;
        margin-left: 20px;
        margin-top: 30px;
        margin-right: 20px;
        margin-bottom: 30px;
    }

    label {
        float: left;
    }

    form {
        margin-top: 20px;
    }

    .input-group-addon {
        background-color: #fff;
    }

    body {
        overflow-x: hidden;
    }

    .footer {
        position: relative;
    }

    @@media all and (min-width: 768px) {
        .footer {
            position: absolute;
        }

        .content {
            background-color: white;
        }

        #style-7::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
            border-radius: 10px;
        }

        #style-7::-webkit-scrollbar {
            width: 10px;
            background-color: #F5F5F5;
        }

        #style-7::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(85, 162, 241)), color-stop(0.72, rgb(51, 141, 234)), color-stop(0.86, rgb(36, 130, 227)));
        }

        header {
            font-family: 'Lobster', cursive;
            text-align: center;
            font-size: 25px;
        }

        #info {
            font-size: 18px;
            color: #555;
            text-align: center;
            margin-bottom: 25px;
        }

        .scrollbar {
            margin-left: 30px;
            float: left;
            height: 300px;
            width: 65px;
            background: #F5F5F5;
            overflow-y: scroll;
            margin-bottom: 25px;
        }

        .force-overflow {
            min-height: 450px;
        }

        #wrapper {
            text-align: center;
            width: 500px;
            margin: auto;
        }
    }
</style>
<body>
    <div>
        <div class="container col-md-12 scrollbar force-overflow hidden-sm hidden-xs" id="style-7" style="background: #fff;padding: 1% 4%;margin-left: 7%;height: 500px;overflow-y: scroll;margin-top: 1.5%;margin-right: 10%;margin-bottom: 35px;box-shadow: 0px 0px 34px -13px rgba(51,51,51,1);border-radius: 15px;width: 87%;">
            <div><center> <h1 style="margin-top:0px;margin-bottom:0px;">About Us</h1></center></div>
            <br /><br />
            <center><h3 class="ser_web_topi" data-aos="fade-up" style="margin-top: 0px;">Technopinch Solutions Pvt Ltd</h3></center>
            <br />
            <p class="ser_web_par" data-aos="fade-up">

                Technopinch Solutions Private Limited came into existence in September 2016.
                We are team of highly skilled professionals from premier institutions in India with combined experience of more than 100 years in technology space.
                Our team has right blend of experienced professionals with young technocrats who understand customer experience and deliver them through cutting edge technologies.
            </p><br />
            <h3 class="ser_web_topi" data-aos="fade-up">Our Philosophy</h3>
            <p class="ser_web_par" data-aos="fade-up">
                We see technology as an enabler for business. We believe technology/IT should be synergistically integrated with the overall business strategy and processes rather than being just a black box employed to achieve just basic manual labor reduction. To achieve this, holistic perspective towards business needs and technology is quintessential.
            </p>

            <p class="ser_web_par" data-aos="fade-up">

                We have highly qualified and experienced team of developers who score high both on understanding of technology as well as business. The developers have a sound understanding of day to day business activities at the root level which enable them to deliver superior results as per dynamic business requirements catering to the changing government regulations.
            </p>
            <p class="ser_web_par" data-aos="fade-up">

                Our focus is mainly on user friendliness and simplicity of products so that managing business even for a less technically skilled operator is a left hand’s job. For this we are a strong believer of the fact that the solution provider shall come to the level of understanding and needs of user than expecting the user to reach the level of the solution provider.
            </p>



            <p class="ser_web_par" data-aos="fade-up">
                Our ERP products/modules are capable of performing various activities required to run the businesses smoothly.
                We have wide range of modules such as Inventory Management, Financial Accounting, Production management, payroll,
                quotations, order processing, counter invoicing etc which can be bundled as per the requirements of customers as
                per their specific business needs.
            </p>
            <br />
            <h3 class="ser_web_topi" data-aos="fade-up"> Our Vision </h3>
            <p class="ser_web_par" data-aos="fade-up">
                Our vision is to establish technology as a value creation tool for individuals,
                businesses and organizations.
            </p>

            <br />
            <h3 class="ser_web_topi" data-aos="fade-up">Our Mission</h3>
            <p class="ser_web_par" data-aos="fade-up">
                To provide quantifiable business advantage to customers through hassle-free technology solutions in the most cost effective way.
                To make sure that developed solution are able to keep up with the pace of rapidly
                changing customer requirements using latest technologies.
            </p>
            <br />
        </div>
        <div class="container col-md-12 hidden-lg hidden-md" style="background:#fff; padding: 2% 4% ;margin-left: 7%;margin-top: 5%; margin-right:10%; margin-bottom:35px; box-shadow: 0px 0px 34px -13px rgba(51,51,51,1);border-radius: 15px; width: 87%;">
            <div><center> <h1 style="margin-top:0px;margin-bottom:0px;">About Us</h1></center></div>
            <br /><br />
            <center><h3 class="ser_web_topi" data-aos="fade-up" style="margin-top: 0px;">Technopinch Solutions Pvt Ltd</h3></center>
            <br />
            <p class="ser_web_par" data-aos="fade-up">

                Technopinch Solutions Private Limited came into existence in September 2016.
                We are team of highly skilled professionals from premier institutions in India with combined experience of more than 100 years in technology space.
                Our team has right blend of experienced professionals with young technocrats who understand customer experience and deliver them through cutting edge technologies.
            </p><br />
            <h3 class="ser_web_topi" data-aos="fade-up">Our Philosophy</h3>
            <p class="ser_web_par" data-aos="fade-up">
                We see technology as an enabler for business. We believe technology/IT should be synergistically integrated with the overall business strategy and processes rather than being just a black box employed to achieve just basic manual labor reduction. To achieve this, holistic perspective towards business needs and technology is quintessential.
            </p>

            <p class="ser_web_par" data-aos="fade-up">

                We have highly qualified and experienced team of developers who score high both on understanding of technology as well as business. The developers have a sound understanding of day to day business activities at the root level which enable them to deliver superior results as per dynamic business requirements catering to the changing government regulations.
            </p>
            <p class="ser_web_par" data-aos="fade-up">

                Our focus is mainly on user friendliness and simplicity of products so that managing business even for a less technically skilled operator is a left hand’s job. For this we are a strong believer of the fact that the solution provider shall come to the level of understanding and needs of user than expecting the user to reach the level of the solution provider.
            </p>



            <p class="ser_web_par" data-aos="fade-up">
                Our ERP products/modules are capable of performing various activities required to run the businesses smoothly.
                We have wide range of modules such as Inventory Management, Financial Accounting, Production management, payroll,
                quotations, order processing, counter invoicing etc which can be bundled as per the requirements of customers as
                per their specific business needs.
            </p>
            <br />
            <h3 class="ser_web_topi" data-aos="fade-up"> Our Vision </h3>
            <p class="ser_web_par" data-aos="fade-up">
                Our vision is to establish technology as a value creation tool for individuals,
                businesses and organizations.
            </p>

            <br />
            <h3 class="ser_web_topi" data-aos="fade-up">Our Mission</h3>
            <p class="ser_web_par" data-aos="fade-up">
                To provide quantifiable business advantage to customers through hassle-free technology solutions in the most cost effective way.
                To make sure that developed solution are able to keep up with the pace of rapidly
                changing customer requirements using latest technologies.
            </p>
            <br />
        </div>
    </div>
</body>
