@{
    Layout = "~/Views/Shared/_Navbar.cshtml";
    ViewData["Title"] = "About Us";
}

<link rel="stylesheet" href="~/Content/Custom/AboutUs.css">

<div class="about-container">
    <h1> ABOUT US </h1>
</div>
<div class="gain-maindiv">
    <div class="subdiv">
    <div class="text-div">
        <h2> Technopinch Solutions Pvt. Ltd.</h2>
        <p>
            Technopinch Solutions was registered in September 2016 with a vision to create
            innovative and effective business management solutions that help businesses streamline
            their processes and improve their operations. Our key focus has been on using the latest
            technologies and development methodologies to ensure the solutions offered are not only
            cutting-edge, efficient, and scalable but also easy to use and maintain. We are also
            committed to providing exceptional customer service and support to our customers with
            quick resolution through our centralized customer support system.
        </p>
        <p>
            Our flagship brand - Gainbooks offers both financial management and operations
            management modules, built on a unique complementary SAAS+ Offline model utilizing
            the latest technology to optimise cost and performance; thereby providing a competitive
            advantage to the MSMEs in the market.
        </p>
    </div>
    <div class="img-div">
        <a href="#" style="margin-left:40px;">
            <img src="/images/main/gainbooks.png">
        </a>
    </div>
    </div>
</div>
<div class="saral-maindiv">
    <div class="subdiv">
        <div class="img-div">
        <a href="#" style="margin-right:40px;">
            <img src="/images/main/saral.png">
        </a>
    </div>
    <div class="text-div">
        <h2> Saral Softech Pvt. Ltd.</h2>
        <p>
            Saral Softech Pvt. Ltd. has been catering to the business management needs of MSMEs
            for more than 30 years. Founded in the early days of the computing revolution, we take
            pride in being at the forefront of the industry and having an in-depth understanding of
            customers' requirements in this sector.
        </p>
        <p>
            Saral-Hybrid- our flagship product, a DOS software still enjoys a solid & loyal customer
            base pan India across diverse business areas such as Pharma, Retailers, General
            Agencies, Grain Mandi, Bars, Restaurants, etc. It is a fully GST-compliant ERP product
            used by customers with a turnover of up to 200 crores.
        </p>
    </div>
    </div>
</div>
<div class="main-container">     
    <div class="boxes">
        <div class="box">
            <div class="header">
                <div class="heading">
                    Our Vision
                </div>
                <div class="arrow"></div>
            </div>
            <p style="width:80%;">
                To establish technology as a value-creation tool for individuals, businesses, and organizations.
            </p>
        </div>
        <div class="box"><img src="/images/main/vision.png"/></div>
        <div class="box"><img src="/images/main/mission2.jpg"/></div>
        <div class="box">
            <div class="header">
                <div class="heading">
                    Our Mission
                </div>
                <div class="arrow"></div>
            </div>
            <p style="width:88%;">
                To provide a quantifiable business advantage to customers through hassle-free technology solutions in the most cost-effective way. To ensure that developed solutions can keep up with the pace of rapidly changing customer requirements using the latest technologies.
            </p>
        </div>
    </div>
    <div class="team-section">
        <div class="teams">
            <h4><span>Meet Our Experts</span></h4>
            <p class="teams-text">
                Our management team is highly qualified and experienced with a deep understanding of technology as well as business. A sound understanding of
                the business operations at the root level enables delivering the best output meeting dynamic business requirements simultaneously catering to the
                changing government regulations.
            </p>
            <div class="cards">
                <div class="card">
                    <div class="card-header">
                        <div class="header-img first"></div>
                    </div>
                    <div class="card-title">
                        <h1>Neha Gupta</h1>
                        <p>CEO & FOUNDER</p>
                    </div>
                    <div class="info-div">
                        <h5>Neha Gupta</h5>
                        <h6>CEO & Founder</h6>
                        <p>
                            Neha is the CEO & Founder of Gainbooks. She is a Product & Technology enthusiast with wide-ranging experience in the enterprise as well as internet consumer applications in IT products, online media, and Insurance Industry. She holds an MBA from the Indian School of Business, Hyderabad, and a BTech from NSIT, Delhi. She has a strong understanding of the technology landscape and consumer behavior in the MSME sector.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="header-img second"></div>
                    </div>
                    <div class="card-title">
                        <h1>HC Gupta</h1>
                        <p>CO-FOUNDER</p>
                    </div>
                    <div class="info-div">
                        <h5>HC Gupta</h5>
                        <h6>Cofounder</h6>
                        <p>
                            Founder/ CEO of Saral Softech Pvt. Ltd. who comes with a rich experience of more than 30 years of developing and marketing financial management software for MSMEs. His product Saral-Hybrid has been used by thousands of customers in more than 200 cities and still enjoys a loyal customer base in spite of being on DOS platform. He is well known for his technical prowess and for providing scalable solutions to complex problems in the market.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="header-img third"></div>
                    </div>
                    <div class="card-title">
                        <h1>Reetika Gupta</h1>
                        <p>CO-FOUNDER</p>
                    </div>
                    <div class="info-div">
                        <h5>Reetika Gupta</h5>
                        <h6>Cofounder</h6>
                        <p>
                            Reetika is a Chartered Accountant and has joined the team as a co-founder. She has extensive experience in Operational Excellence, Risk Management, Internal Audit, and driving process enhancements across various industries. She also has an extremely well-developed aesthetic sense; resulting in excellent Branding and Product UI/UX designs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



