@{
    Layout = "~/Views/Shared/_Navbar.cshtml";
    ViewData["Title"] = "Operational Management Module";
}

<link rel="stylesheet" href="~/Content/Custom/operationmodule.css">



<div class="operation-container">
    <div class="row" style="--bs-gutter-x: 0;">
        <div class="col-lg-6 col-md-6">
            <div class="operation_innerdiv">
                <div class="col-lg-12 col-md-12 operation_module">
                    <h3>Operations Management Modules</h3>
                    <p>Gainbooks wide range of operations modules are equipped to be used in isolation as well as in collaboration with other modules to efficiently manage day to day business operations; thus increasing productivity and output.  </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 carousel-imgdiv">
            <div class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item">
                        <img src="/images/main/operational.png" alt="" class="main-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-container">
        <div class="operation-boxes">
            <div class="operation-box">
                <div class="img-div">
                    <img src="/images/main/Mask group.png" alt="">
                </div>
                <div class="text">
                    <h5>Service Request / Call Center Management</h5>
                    <p>
                        Manage your service requests effectively with end-to-end tracking of each SR, daily reports on new, closed, escalated requests and live status of each request. Enhance your customer experience with the most advanced and fastest way of registering request i-e directly with incoming/missed call or on the web.
                    </p>
                </div>
            </div>
            <div class="operation-box">
                <div class="img-div">
                    <img src="/images/main/Mask group-1.png" alt="">
                </div>
                <div class="text">
                    <h5>Sales / Lead Management</h5>
                    <p>
                        Track complete engagement with all potential leads and maximise lead conversions rate. Know where to focus your marketing efforts through comprehensive sales funnel / sales pipeline reports along with other features such as commission calculation etc.
                    </p>
                </div>
            </div>
            <div class="operation-box">
                <div class="img-div">
                    <img src="/images/main/Mask group-2.png" alt="">
                </div>
                <div class="text">
                    <h5>Task Management</h5>
                    <p>
                        Have complete visibility of staff’s daily activities with current status and live progress of each task. Offers other useful features such as Task categorisation, Prioritisation, Files uploading, Collaborative working and many more.
                    </p>
                </div>
            </div>
            <div class="operation-box">
                <div class="img-div">
                    <img src="/images/main/Mask group-3.png" alt="">
                </div>
                <div class="text">
                    <h5>Field Staff Tracking</h5>
                    <p>
                        Track the location and activities of your field staff in real-time during on-site customers visit. Get instant Trip completion report along with distance travelled, time taken, no. of customers visited and reimbursement amount for the trip.
                    </p>
                </div>
            </div>
            <div class="operation-box">
                <div class="img-div">
                    <img src="/images/main/Mask group-4.png" alt="">
                </div>
                <div class="text">
                    <h5>URl / QR Code Based Ordering</h5>
                    <p>
                        Streamline your ordering process by getting orders from customers directly using a unique URL or QR code. Self-ordering solution where customers can place orders at their own convenience thus offering fast and error free ordering experience.
                    </p>
                </div>
            </div>
            <div class="operation-box">
                <div class="img-div">
                    <img src="/images/main/Mask group-5.png" alt="">
                </div>
                <div class="text">
                    <h5>Dashboards / MIS</h5>
                    <p>
                        Intuitive and Customised Dashboards showing productivity, output, employees’ performance etc at a desired frequency to assess company’s operational effectiveness and support faster decision making.
                    </p>
                </div>
            </div>
            <div class="operation-box">
                <div class="img-div">
                    <img src="/images/main/Mask group-6.png" alt="">
                </div>
                <div class="text">
                    <h5>Performance Measurement</h5>
                    <p>
                        Measure, monitor, and improve the performance of your employees without much efforts. Offers features such as Defining goals, Tracking performance and Employee evaluation with identifying training needs.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


