@{
    Layout = "~/Views/Shared/_Navbar.cshtml";
    ViewData["Title"] = "Partners With Us";
}

<link rel="stylesheet" href="~/Content/Custom/PartnerwithUs.css">


<div class="partner-container">
    <div style="color: white;text-align: center; padding: 100px 0;">
        <h1> Coming Soon !</h1>
        <p style="font-size:16px;">Great things take time</p>
        <a href="@Url.Action("Index", "Home")"><button type="button" class="homebtn"> Go to homepage </button></a>
    </div>
    <p class="copyright">Copyright 2023 | All Rights are Reserved. Technopinch Solutions Pvt.Ltd</p>

</div>

