@{
    ViewData["Title"] = "ReturnRefund";

}

<h2 class="text-center text-primary">Refund and Cancellation Policy</h2>
<br />
<br />
<div class="col-md-12" style="padding-left:30px; padding-right:30px">
    <p>
        Once the registration file is created and delivered electronically, an order cannot be cancelled and no refund can be issued against the same in principle.<br />
        However in case of any special circumstances, you can mail us at nehagupta@saralerp.com
    </p>
    <br />
    <p>
        <h4>Cancellation Policy</h4>
        No order can be cancelled once the registration file has been created. In case of special circumstances, please mail the details at nehagupta@saralerp.com
    </p>
    <br />
    <p>
        <h4>Refund Policy</h4>
        Once the registration file is created and delivered, no refund can be issued against that customer, In case of special circumstances,
        you are requested to send the details of the matter to nehagupta@saralerp.com
    </p>
</div>